.container {
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: scroll;

    .title {
        font-size: 14px;
        font-weight: 500;
    }
}

.container::-webkit-scrollbar{
    display: none;
}
