.container {
    margin-top: 20px;
    display: flex;
    gap: 5px;
}

.star-icon {
    cursor: pointer;
    transition: all 200ms linear;

    &:hover {
        transform: scale(1.2);
        transition: all 200ms linear;
    }

    &:active {
        transform: scale(1.2);
        transition: all 200ms linear;
    }
}