@use '../styles/variables' as variables;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    @include variables.fontFamily();
    background-color: variables.$background-color;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
}